@value makerWhite, makerBlue, makerRed from '../../common/colors.css';
@value sizeLarge, weightExtraBold from '../../common/size.css';

.button {
  width: inherit;
  height: inherit;
  border-radius: 100px;
  font-size: inherit;
  font-weight: weightExtraBold;
  text-transform: capitalize;
  background-color: makerBlue;
  opacity: 0.4;
  transition: opacity 150ms ease-in-out;
}

.red {
  background-color: makerRed;
}

.button:hover {
  opacity: 1;
}

.button:disabled:hover {
  opacity: 0;
}

.loading {
  width: sizeLarge;
  height: sizeLarge;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid makerWhite;
  border-top: 3px solid makerBlue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
