@value fontMedium, sizeRegular, weightBold from '../../common/size.css';
@value makerGray from '../../common/colors.css';

.info {
  text-align: center;
  transform: translateY(10vh);
}

.title {
  font-weight: weightBold;
  font-size: fontMedium;
  margin: sizeRegular;
}

.content {
  color: makerGray;
}
