@value makerWhite from './common/colors.css';

.app {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: makerWhite;
}

.main {
  height: 100%;
}

.info {
  text-align: center;
  transform: translateY(10vh);
}
